html{background: rgb(97, 30, 75) url(./img/bg.png) scroll; color: #c0c0c0; font-family: 'Shadows Into Light', cursive;}
h1{font-family: 'Beau Rivage', cursive; font-size: 4rem; font-kerning: normal;}
@media screen and (max-width: 768px){
    h1{
        font-size: 3rem;
    }
    #descrpcion{
        width: 90%
    }
}
h2{font-size: 2.5rem; font-family: 'Whisper', cursive;}
header{position:sticky; width: 100vw; top: 0px; border-width: 0px; margin: 0px; padding: 0px; background-color: #300b3b; text-align: center; background-image: url(./img/bannerBG.png);}
a{color: violet; text-decoration: none; font-family: 'Beau Rivage', cursive; font-weight: bold; font-size: 2rem;}
body{width: 80vw;}
p{text-align: center; font-size: 1.5rem; font-weight: 600;}
footer{text-align: center; background-color: #300b3b; position: fixed; bottom: 0; width: 100vw; height: 120px; background-image: url(./img/bannerBG.png);}
footer > nav{text-align: center;}
h4{text-align: center; padding: 10px;}
#avatarEsquina{border-width: 0px; margin: 0px; padding: 0px;  position: fixed; bottom: 120px; right: 0px; width: 20vw;}
@media screen and (min-width:1200px){
    #avatarEsquina
        {width: 240px!important}
    }
.index, .galeria, .contacto{transition: font-size 2s;}
.index:hover, .galeria:hover, .contacto:hover {font-size: 4rem; color: rgb(212, 174, 228);}
#descripcion{
    width: 90vw;
    height: 200px;
}
@media screen and (min-width:768px) {
    .contenedor {
        width: 100%;
        margin: 20px auto;
        display: grid;
        grid-gap: 20px;
        grid-template-columns: 48% 48% 4%;
        grid-template-rows: repeat(4, auto);
        grid-template-areas: "header header header"
                            "contenido contenido sidebar"
                            "twitter-tweet youtube-video sidebar"
                            "footer footer footer";
    }
    #descripcion{
        width: 690px;
    }
}
.twitter-tweet{
    margin: auto;
    width: 40%;
    padding: 10px;
  }  
.contenedor > div,
.contenedor .header,
.contenedor .contenido,
.contenedor .sidebar,
.contenedor .footer {
    padding: 20px;
    border-radius: 4px;
}
  
.contenedor .header {
    color: #fff;
    grid-area: header;
}
  
.contenedor .contenido {
    grid-area: contenido;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}
  
.contenedor .sidebar {
    grid-column: 3 / 4;
    text-align: center;
    display: inline-flex;
    align-items: top;
    justify-content: center;
    min-height: 100px;
    grid-area: sidebar;
}

.contenedor .twitter-tweet {
    grid-area: twitter-tweet;
}

.contenedor .youtube-video {
    grid-area: youtube-video;
}
.contenedor .footer {
    color: #fff;
    grid-area: footer;
}
@keyframes seleccion {
    from {border-color: #300b3b;}
  to {border-color: #fff;}
}
.imagenGaleria {
    border: 5px solid #300b3b;
    border-radius: 200px;
}
.imagenGaleria:hover {
    animation-name: seleccion;
    animation-duration: 2s;
    border-color: #fff;
}
.textoGaleria{
    text-align: left;
}
